
.slider .indicators .indicator-item.active {
    background-color: #1E88E5;
}

/** {
    font-family: "Arial Black", Georgia, Serif;
}*/

body {
    margin: 0 auto;
    padding: 0;
}

#my-header {
    background-color: #1E88E5;
}

#header-content {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

#header-content-2 {
    padding-top: 2%;
    padding-bottom: 2%;
    color: white;
}

@media screen and (max-width: 1000px) {

    #header-content {
        padding-top: 2%;
        padding-bottom: 2%;
        color: white;
    }

    #header-content-2 {
        display: none;
    }

}

.news-container {
    position: relative;
    width: 100%;
    border: 2px solid #1E88E5;
    color: #1E88E5;
    border-radius: 7px 7px 7px 7px;
    margin-bottom: 10px;
}

.grey-box {
    padding: 10px;
    border-radius: 5px 0 0 0;
    background-color: #1E88E5;
    color: white;
}

.event-row {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    color: #1E88E5;
}

#top-of-head {
    color: white;
    padding-left: 15%;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: #1565C0;
}

#top-of-head a {
    color: white;
}

#top-of-head a:hover {
    text-decoration: underline;
    cursor: hand;
}

.marquee-container {
    padding: 3px;
    width: 100%;
    overflow: hidden;
}

.marquee {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    animation: scroll 30s linear infinite;
    padding: 3px;
}

.marquee:hover {
    animation-play-state: paused
}

/* Make it move */
@keyframes scroll {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.my-card {
    float: left;
}

.irs-counter-col i {
    font-size: 80px;
    color: #1E88E5;
    font-weight: normal;
}

.irs-counter-field {
    padding: 100px 0 50px;
    background: url(../imgs/pics/images/slider/bg_foreground_black.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.irs-counter-field h4 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
}

.irs-layer-black {
    position: relative;
}

.irs-counter-col {
    margin-bottom: 50px;
    text-align: center;
}

.start-count {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 32px;
}

.important-links-ul {
    text-align: center;
}

.important-links-ul li {
    margin-bottom: 20px;
}

.title-bg {
    color: white;
    background-color: #1E88E5;
    padding: 10px;
}

.team-member {
    margin-top: 15px;
    background: #1E88E5;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid #1E88E5;
}

.team-member .member-name {
    font-weight: bold;
}

.team-member .thumnail img {
    width: 100%;
}

.team-member .member-position {
    padding: 0 15px 5px;
}





